#championsBanner{
	text-align: center;
	#champsheader{
		max-width: 40%;
	}
}

#championsSprintCup{
	padding: 20px 0px;
    background-color: #efefef;
    background-image: url(../images/SCS_BG.png);
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 20px 0px;
    p{
    	text-align: center;
    	color: white;
    }
}
#championsxfs{
	padding: 20px 0px;
    background-color: #efefef;
    background-image: url(../images/XFS_BG.png);
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 20px 0px;
    p{
    	text-align: center;
    	color: white;
    }
}
#championscmlts{
	padding: 20px 0px;
    background-color: #efefef;
    background-image: url(../images/CMLTS_BG.png);
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 20px 0px;
    p{
    	text-align: center;
    	color: white;
    }
}
.newsContentArea{
	.mute{
		opacity: .5;
	}
	h4{
	    height: 60px;
	}
}
#recentposts {
    background: #3A3A3A;
    border: none;
    margin-top: 15px;
}