@media (min-width: 768px) {
	.dropdown:hover .dropdown-menu {
		display: block;
	}
}

@media (max-width: 736px) {
	.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{
		background: transparent;
	}
	.navbar-default{
		.navbar-toggle{
			border: none;
			.icon-bar{
				background-color: $green;
			}
		}
	}
	.navbar-brand img {
	    height: 32px!Important;
    	margin-top: -4px !important;
	}
	.nav{
		li{
			z-index: 2000;
		    background: #111;
		    margin-top: -2px;
		    position: relative;
		    text-align: center;
		    top: -5px;
		}
	}
	#mainBannerText {
    	position: relative;
       	top: -360px;
       	h3{
       		color: #000;
       	}
       a{
       	background-color: $green;
       	border: none;
       	color: #000;
       }
	}

	#homeMainBanner {
		#homeNewsMainLower{
			ul{
				li{
					display: list-item;
				}
			}
		}
	}

	#homeTitleBar{
		margin-top: 0;
	}

	#nextEventBox{
		margin-top: 20px;
		ul{
			li{
				background: transparent;
				padding-top: 10px;
			}
		}
	}
	.sticky-container{
		display: none;
	}
	#latestNews{
	    max-height: 400px;
	    #nextEventTitles{
	    	margin-bottom: 10px;
	    }
	    h4{
	    	text-align: center;
	    }
	    h5{
	    	text-align: center;
	    }
	    h6{
	    	text-align: center;
	    }
	    .title_news{
    	    margin-bottom: 15px;
	    	p{
	    		height: auto;
	    	}
	    }
	}
	.latest_race_info{
		h4{
			font-size: .9em;
		}

		#race_bottom{
			border-top: 1px solid #ccc;
			padding-top: 10px;
		}
	}
	#mainFooter #footerLogo{
		width: auto;
		height: auto;
	}
	#footerNav{
		ul{
			text-align: center!important;
			margin: 0!important;
		    width: 90%!important;
			li{
				display: list-item!important;
				border: none!important;
				padding: 0!important;
				list-style-type: none;
				a{
					padding: 0!important;
					margin: 0!important;
				}
			}
		}
	}

	#recentposts{
		    width: 290px!important;
	}
}

@media (max-width: 568px) {
	.navbar-brand img {
	    height: 28px!Important;
    	margin-top: -4px !important;
	}
	#breaking_news{
		p{
			a{
			 font-size: 0.725em;
			}
		}
	}
	.latest_race_info{
		h4{
			font-size: .7em!important;
		}
	}

}