// Varibles 
$green: #32FF00;
$open: 'Open Sans', sans-serif;
$play: 'Play', sans-serif;
$grey: #3A3A3A;

// General
body{
	font-family: $open!important;
	background: #000;
    color: white;
}
.boxHelper
{
	background-color: #000;
	text-align: center;
	color: #fff;
}
::selection
{
  background: #32FF00!important;
}
::-moz-selection
{
  background: #32FF00!important;
}
.clearfix {
  overflow: auto;
}
img {
    border: 0;
    max-width: 100%;
    height: auto;
}

.ss-text {
    color: #FFFFFF;
}

@import "custom";
@import "header";
@import "homepage";
@import "about";
@import "single";
@import "footer";
@import "media";
